

*.err
*.out
MembraneSegmentation.egg-info
MembraneSegmentation.egg-info/dependency_links.txt
MembraneSegmentation.egg-info/PKG-INFO
MembraneSegmentation.egg-info/SOURCES.txt
MembraneSegmentation.egg-info/top_level.txt